# .coveragerc to control coverage.py

[run]
branch = True
source = SZR
omit =
    */__init__.py
    */tmp/*
    */test_*.py
    SZR/settings/*
    SZR/wsgi.py

[report]
precision = 1
show_missing = True

[html]
directory = coverage_html
