{% load staticfiles %}
{% load core_extras %}


<link rel="stylesheet" type="text/css" href="{% static 'projects/stylesheets/project_list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'projects/stylesheets/tasks.css' %}"/>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group list-group-root well">
                <div class="row">
                    <div class="col-sm-6 font-weight-bold">Name</div>
                    <div class="col-sm-3 font-weight-bold">Finished date</div>
                    <div class="col-sm-2 font-weight-bold">Status</div>
                </div>

                {% include 'core/ajax/load_finished_task_list.html' with finished_task_list=finished_task_list %}
            </div>
        </div>
    </div>
</div>
