{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% with home_active=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'core/stylesheets/home.css' %}"/>
{% endblock %}


{% block body %}


<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper">
    <div class="main--content">
      <div class="main--content__container">
{#        <p class="main--content__container__title">#}
{#          SZR#}
{#        </p>#}

        <ul class="main--content__container__ul">
          <li class="main--content__container__ul__li">System od studeta
              <i class="fa fa-laptop main--content__container__ul__li__icon"></i>
          </li>
          <li class="main--content__container__ul__li">dla prowadzących
              <i class="fa fa-code-branch main--content__container__ul__li__icon"></i>
          </li>
        </ul>
      </div>

    </div>
    <div class="description">
        System do Zarządzania Kodem w Dydaktyce
        - Aleksander Zamojski
    </div>

</div>

{% endblock %}

