{% extends 'base.html' %}
{% load i18n static admin_urls staticfiles %}

{% block title %}{{ page_title }}{% endblock %}
{% block project_active %}active{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'projects/stylesheets/projects_index.css' %}"/>

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/widgets.css' %}">

    <style>.calendar > table > caption {
        caption-side: unset
    }</style><!--caption fix for bootstrap4-->
    {{ form.media }}
{% endblock %}

{% block body %}
    <div class="group-body">
        <div class="container">
            <div class="col-sm-12 col-md-10 col-lg-6 d-block mx-auto">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2>{{ fields_title|linebreaks }}</h2>
                        </div>
                        {% if error_message %}
                            <div class="text-center">
                                <p><strong>{{ error_message|linebreaks }}</strong></p>
                            </div>
                        {% endif %}
                        <form class="form-horizontal justify-content-center" role="form" action=""
                              method="post" style="display: block;" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'core/form_base.html' %}

                            <div class="form-group">
                                <div class="row">
                                    <div class="d-block mx-auto">
                                        <button type="submit" class="center-block btn btn-success">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
