{% extends 'sidebar.html' %}
{% load staticfiles %}

{% block title %}Groups{% endblock %}

{% block navbar %}
    {% with group_active=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'groups/stylesheets/groups_detail_index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groups/stylesheets/group_list.css' %}"/>
{% endblock %}

{% block sidebar-menu %}
    {{ block.super }}
{% endblock %}

{% block page-content-body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ group.name }}</h1>
            </div>
            <div class="col">
                <div class="row buttons-new float-right">
                    <div class="button-new-project">
                        <a href="{% url 'groups:new_project' group.id %}" class="badge badge-success">New Project</a>
                    </div>
                    <div class="button-new-group">
                        <a href="{% url 'groups:new_subgroup' group.id %}" class="badge badge-success">New Subgroup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'groups/group_list.html' with group_list=group.subgroups.list project_list=group.projects.list %}


    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Tasks - Future Subgroups</h2>
            </div>
        </div>
    </div>
    {% include 'core/unfinished_task_list.html' with unfinished_task_list=unfinished_add_subgroup_list %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Tasks - Future Projects</h2>
            </div>
        </div>
    </div>
    {% include 'core/unfinished_task_list.html' with unfinished_task_list=unfinished_add_project_list %}

{% endblock %}

