{% load staticfiles %}
{% load core_extras %}


<link rel="stylesheet" type="text/css" href="{% static 'groups/stylesheets/group_list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'groups/stylesheets/tasks.css' %}"/>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group list-group-root well">
                {% include 'groups/ajax/load_finished_task_list.html' with finished_task_list=finished_task_list %}
            </div>
        </div>
    </div>
</div>
