{% extends 'sidebar.html' %}
{% load staticfiles %}

{% block title %}sidebar{% endblock %}


{% block sidebar-title %}
    Group Title
{% endblock %}


{% block sidebar-menu %}
    <div class="sidebar-search">
        <div>
            <div class="input-group">
                <input type="text" class="form-control search-menu" placeholder="Search...">
                <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar-search  -->
    <div class="sidebar-menu">
        <ul>
            <li class="header-menu">
                <span>Group Menu</span>
            </li>
            <li class="sidebar-dropdown active">
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span>Overview</span>
                </a>
                <div class="sidebar-submenu" style="display:block;">
                    <ul>
                        <li>
                            <a href="{% url 'groups:detail' group.id %}">Details</a>
                        </li>
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="{{ group.web_url }}">
                                GitLab
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="#">
                    <i class="far fa-users"></i>
                    <span>Members</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a href="{% url 'groups:members' group.id %}">Details</a>
                        </li>
                        <li>
                            <a href="#">Add Members</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="#">
                    <i class="far fa-users"></i>
                    <span>Tasks</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a href="{% url 'groups:tasks' group.id %}">Details</a>
                        </li>
                        <li>
                            <a href="#">Add Task</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span>Setting</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a href="#">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- sidebar-menu  -->
{% endblock %}


