{% extends 'sidebar.html' %}
{% load staticfiles %}

{% block title %}Groups{% endblock %}
{% block group_active %}active{% endblock %}


{% block head %}
    {{ block.super }}
    <script src="{% static 'groups/javascripts/tasks.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'groups/stylesheets/groups_detail_index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groups/stylesheets/group_list.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groups/stylesheets/tasks.css' %}"/>
{% endblock %}

{% block sidebar-menu %}
    {{ block.super }}
{% endblock %}

{% block page-content-body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Tasks</h1>
            </div>
            <div class="col">
                <div class="row buttons-new float-right display-inline">
                    <div class="button-new-group" onclick="showList()">
                        <a href="#" class="badge badge-success float-right">Add Task</a>
                    </div>
                    <div class="display-none" id="resolvedOptions">
                        <ul>
                        {% for option in new_group_links %}
                            <li>
                                <a href={{option.1}}  class="badge badge-light">{{option.0}}</a>
                            </li>
                        {% endfor %}
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group list-group-root well">
                    <ul class="group-list-tree">
                        <div class="row">
                           <div class="col-sm-3 font-weight-bold ">Name</div>
                           <div class="col-sm-3 font-weight-bold">Status</div>
                           <div class="col-sm-3 font-weight-bold">Execution date</div>
                        </div>
                        {% for task in unfinished_task_list %}
                            <li>
                                <div class="list-group-item-2 list-group-item-member">
                                    <a href="#">
                                        <div class="row">
                                           <div class="col-sm-3 font-weight-bold">{{ task.name }}</div>
                                           <div class="col-sm-3 font-weight-bold">{{ task.get_status_display }}</div>
                                           <div class="col-sm-3 font-weight-bold">{{ task.execute_date }}</div>
                                           <div class="col-sm-3 font-weight-bold">
                                               <button type="button" class="btn btn-light btn-sm float-right edit-button">Edit</button>
                                           </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Finished Tasks</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group list-group-root well">
                    <ul class="group-list-tree">
                        <div class="row">
                           <div class="col-sm-3 font-weight-bold">Name</div>
                           <div class="col-sm-3 font-weight-bold">Status</div>
                           <div class="col-sm-3 font-weight-bold">Finished date</div>
                        </div>
                        {% for task in finished_task_list %}
                            <li>
                                <div class="list-group-item-2 list-group-item-member">
                                    <a href="#">
                                        <div class="col-sm-3 font-weight-bold">{{ task.name }}</div>
                                        <div class="col-sm-3 font-weight-bold">{{ task.get_status_display }}</div>
                                        <div class="col-sm-3 font-weight-bold">{{ task.finished_date }}</div>
                                        <div class="col-sm-3 font-weight-bold">
                                           <button type="button" class="btn btn-light btn-sm float-right edit-button">Edit</button>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

