<ul class="content-list group-list-tree">
    <li id="group-4" class="group-row is-open has-children">
        <div class="group-row-contents d-flex justify-content-end align-items-center">
            <div class="folder-toggle-wrap append-right-4 d-flex align-items-center"><span class="folder-caret"><svg
                aria-hidden="true" class="s12 ic-angle-down"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#angle-down"></use></svg></span>
                <span class="item-type-icon"><svg aria-hidden="true" class="s16 ic-folder-open"><use
                    xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#folder-open"></use></svg></span>
            </div>
            <div class="avatar-container s24 d-none d-sm-flex"><a href="/test_group/test_2" class="no-expand">
                <div class="avatar identicon s24 bg5">
                    T
                </div>
            </a></div>
            <div class="group-text flex-grow">
                <div class="title namespace-title append-right-8"><a href="/test_group/test_2" title=""
                                                                     data-placement="bottom" class="no-expand"
                                                                     data-original-title="test_group / test_2">test_2</a>
                    <!----></div> <!----></div>
            <div class="stats group-stats prepend-top-2"><span data-placement="bottom" title="" data-container="body"
                                                               class="number-subgroups" data-original-title="Subgroups"><svg
                aria-hidden="true" class="s16 ic-folder"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#folder"></use></svg> <span
                class="stat-value"> 1 </span></span> <span data-placement="bottom" title="" data-container="body"
                                                           class="number-projects" data-original-title="Projects"><svg
                aria-hidden="true" class="s16 ic-bookmark"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#bookmark"></use></svg> <span
                class="stat-value"> 1 </span></span> <span data-placement="bottom" title="" data-container="body"
                                                           class="number-users" data-original-title="Members"><svg
                aria-hidden="true" class="s16 ic-users"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#users"></use></svg> <span
                class="stat-value"> 0 </span></span> <!----> <span data-placement="left" title="" data-container="body"
                                                                   class="item-visibility"
                                                                   data-original-title="Public - The group and any public projects can be viewed without any authentication."><svg
                aria-hidden="true" class="s16 ic-earth"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#earth"></use></svg>
                <!----></span> <!----></div>
            <div class="controls"><a href="/groups/test_group/test_2/-/edit" title="" aria-label="Edit group"
                                     data-container="body" data-placement="bottom" class="edit-group btn no-expand"
                                     data-original-title="Edit group">
                <svg aria-hidden="true" class="s16 ic-settings">
                    <use
                        xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#settings"></use>
                </svg>
            </a> <!----></div>
        </div>
        <ul class="content-list group-list-tree">
            <li id="group-7" class="group-row has-children">
                <div class="group-row-contents d-flex justify-content-end align-items-center">
                    <div class="folder-toggle-wrap append-right-4 d-flex align-items-center"><span class="folder-caret"><svg
                        aria-hidden="true" class="s12 ic-angle-right"><use
                        xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#angle-right"></use></svg></span>
                        <span class="item-type-icon"><svg aria-hidden="true" class="s16 ic-folder"><use
                            xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#folder"></use></svg></span>
                    </div>
                    <div class="avatar-container s24 d-none d-sm-flex"><a href="/test_group/test_2/test_3"
                                                                          class="no-expand">
                        <div class="avatar identicon s24 bg1">
                            T
                        </div>
                    </a></div>
                    <div class="group-text flex-grow">
                        <div class="title namespace-title append-right-8"><a href="/test_group/test_2/test_3" title=""
                                                                             data-placement="bottom" class="no-expand"
                                                                             data-original-title="test_group / test_2 / test_3">test_3</a>
                            <!----></div> <!----></div>
                    <div class="stats group-stats prepend-top-2"><span data-placement="bottom" title=""
                                                                       data-container="body" class="number-subgroups"
                                                                       data-original-title="Subgroups"><svg
                        aria-hidden="true" class="s16 ic-folder"><use
                        xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#folder"></use></svg> <span
                        class="stat-value"> 1 </span></span> <span data-placement="bottom" title=""
                                                                   data-container="body" class="number-projects"
                                                                   data-original-title="Projects"><svg
                        aria-hidden="true" class="s16 ic-bookmark"><use
                        xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#bookmark"></use></svg> <span
                        class="stat-value"> 1 </span></span> <span data-placement="bottom" title=""
                                                                   data-container="body" class="number-users"
                                                                   data-original-title="Members"><svg aria-hidden="true"
                                                                                                      class="s16 ic-users"><use
                        xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#users"></use></svg> <span
                        class="stat-value"> 0 </span></span> <!----> <span data-placement="left" title=""
                                                                           data-container="body" class="item-visibility"
                                                                           data-original-title="Private - The group and its projects can only be viewed by members."><svg
                        aria-hidden="true" class="s16 ic-lock"><use
                        xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#lock"></use></svg>
                        <!----></span> <!----></div>
                    <div class="controls"><a href="/groups/test_group/test_2/test_3/-/edit" title=""
                                             aria-label="Edit group" data-container="body" data-placement="bottom"
                                             class="edit-group btn no-expand" data-original-title="Edit group">
                        <svg aria-hidden="true" class="s16 ic-settings">
                            <use
                                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#settings"></use>
                        </svg>
                    </a> <!----></div>
                </div> <!----></li>
            <li id="group-5" class="group-row">
                <div class="group-row-contents d-flex justify-content-end align-items-center project-row-contents">
                    <div class="folder-toggle-wrap append-right-4 d-flex align-items-center"><span class="folder-caret"><svg
                        aria-hidden="true" class="s12 ic-angle-right"><use
                        xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#angle-right"></use></svg></span>
                        <span class="item-type-icon"><svg aria-hidden="true" class="s16 ic-bookmark"><use
                            xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#bookmark"></use></svg></span>
                    </div>
                    <div class="avatar-container s24 d-none d-sm-flex"><a href="/test_group/test_2/test_5"
                                                                          class="no-expand">
                        <div class="avatar identicon s24 bg6">
                            T
                        </div>
                    </a></div>
                    <div class="group-text flex-grow">
                        <div class="title namespace-title append-right-8"><a href="/test_group/test_2/test_5" title=""
                                                                             data-placement="bottom" class="no-expand"
                                                                             data-original-title="test_group / test_2 / test_5">test_5</a>
                            <!----></div> <!----></div>
                    <div class="stats group-stats prepend-top-2"><!----> <!----> <!----> <span data-placement="bottom"
                                                                                               title=""
                                                                                               data-container="body"
                                                                                               class="project-stars"
                                                                                               data-original-title=""><svg
                        aria-hidden="true" class="s16 ic-star"><use
                        xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#star"></use></svg> <span
                        class="stat-value"> 0 </span></span> <span data-placement="left" title="" data-container="body"
                                                                   class="item-visibility"
                                                                   data-original-title="Public - The project can be accessed without any authentication."><svg
                        aria-hidden="true" class="s16 ic-earth"><use
                        xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#earth"></use></svg>
                        <!----></span>
                        <div class="last-updated">
                            <time title="" class="" data-original-title="Dec 28, 2018 12:48pm GMT+0100">1 week ago
                            </time>
                        </div>
                    </div> <!----></div> <!----></li> <!----></ul>
    </li>
    <li id="group-9" class="group-row">
        <div class="group-row-contents d-flex justify-content-end align-items-center project-row-contents">
            <div class="folder-toggle-wrap append-right-4 d-flex align-items-center"><span class="folder-caret"><svg
                aria-hidden="true" class="s12 ic-angle-right"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#angle-right"></use></svg></span>
                <span class="item-type-icon"><svg aria-hidden="true" class="s16 ic-bookmark"><use
                    xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#bookmark"></use></svg></span>
            </div>
            <div class="avatar-container s24 d-none d-sm-flex"><a href="/test_group/js" class="no-expand">
                <div class="avatar identicon s24 bg3">
                    S
                </div>
            </a></div>
            <div class="group-text flex-grow">
                <div class="title namespace-title append-right-8"><a href="/test_group/js" title=""
                                                                     data-placement="bottom" class="no-expand"
                                                                     data-original-title="test_group / sh">sh</a><!---->
                </div> <!----></div>
            <div class="stats group-stats prepend-top-2"><!----> <!----> <!----> <span data-placement="bottom" title=""
                                                                                       data-container="body"
                                                                                       class="project-stars"
                                                                                       data-original-title=""><svg
                aria-hidden="true" class="s16 ic-star"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#star"></use></svg> <span
                class="stat-value"> 0 </span></span> <span data-placement="left" title="" data-container="body"
                                                           class="item-visibility"
                                                           data-original-title="Private - Project access must be granted explicitly to each user."><svg
                aria-hidden="true" class="s16 ic-lock"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#lock"></use></svg>
                <!----></span>
                <div class="last-updated">
                    <time title="" class="" data-original-title="Jan 3, 2019 12:47pm GMT+0100">1 week ago</time>
                </div>
            </div> <!----></div> <!----></li>
    <li id="group-4" class="group-row">
        <div class="group-row-contents d-flex justify-content-end align-items-center project-row-contents">
            <div class="folder-toggle-wrap append-right-4 d-flex align-items-center"><span class="folder-caret"><svg
                aria-hidden="true" class="s12 ic-angle-right"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#angle-right"></use></svg></span>
                <span class="item-type-icon"><svg aria-hidden="true" class="s16 ic-bookmark"><use
                    xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#bookmark"></use></svg></span>
            </div>
            <div class="avatar-container s24 d-none d-sm-flex"><a href="/test_group/test_1" class="no-expand">
                <div class="avatar identicon s24 bg5">
                    T
                </div>
            </a></div>
            <div class="group-text flex-grow">
                <div class="title namespace-title append-right-8"><a href="/test_group/test_1" title=""
                                                                     data-placement="bottom" class="no-expand"
                                                                     data-original-title="test_group / test_1">test_1</a>
                    <!----></div> <!----></div>
            <div class="stats group-stats prepend-top-2"><!----> <!----> <!----> <span data-placement="bottom" title=""
                                                                                       data-container="body"
                                                                                       class="project-stars"
                                                                                       data-original-title=""><svg
                aria-hidden="true" class="s16 ic-star"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#star"></use></svg> <span
                class="stat-value"> 0 </span></span> <span data-placement="left" title="" data-container="body"
                                                           class="item-visibility"
                                                           data-original-title="Public - The project can be accessed without any authentication."><svg
                aria-hidden="true" class="s16 ic-earth"><use
                xlink:href="/assets/icons-1bbf3f0e2e8f631ea6006c647f843db214684476054223102c16630dabc450d4.svg#earth"></use></svg>
                <!----></span>
                <div class="last-updated">
                    <time title="" class="" data-original-title="Dec 28, 2018 12:31pm GMT+0100">1 week ago</time>
                </div>
            </div> <!---->
        </div> <!---->
    </li> <!---->
</ul> <!---->
