{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}sidebar{% endblock %}


{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/sidebar.css' %}"/>
{% endblock %}


{% block body %}
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-angle-double-right"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">{{ sidebar.title }}</a>
                    <div id="close-sidebar">
                        <i class="fas fa-angle-double-left"></i>
                    </div>
                </div>
                <!-- sidebar-content  -->
                {% block sidebar-menu %}
                    {% if sidebar.search %}
                        <div class="sidebar-search">
                            <div>
                                <div class="input-group">
                                    <input type="text" class="form-control search-menu" placeholder="Search...">
                                    <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- sidebar-search  -->
                    {% endif %}
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>{{ sidebar.name }}</span>
                            </li>
                            {% autoescape off %}
                                {% for point in sidebar.points %}
                                    <li class="sidebar-dropdown {% if point.active %}active{% endif %}">
                                        <a {{ point.url }}>
                                            {{ point.icon }}
                                            <span>{{ point.name }}</span>
                                            {{ point.badge }}
                                        </a>
                                        <div class="sidebar-submenu"
                                             {% if point.active %}style="display:block;"{% endif %}>
                                            <ul>
                                                {% for sub_point in point.sub_points %}
                                                    <li>
                                                        <a {{ sub_point.url }}>
                                                            {{ sub_point.icon }}
                                                            <span>{{ sub_point.name }}</span>
                                                            {{ point.badge }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endautoescape %}
                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                {% endblock %}
            </div>
            <!-- sidebar-content  -->
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                {% block page-content-body %}sidebar.html{% endblock %}
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <script src="{% static 'javascripts/sidebar.js' %}"></script>
{% endblock %}


