{% extends 'sidebar.html' %}
{% load staticfiles %}

{% block title %}Groups{% endblock %}
{% block group_active %}active{% endblock %}


{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'groups/stylesheets/groups_detail_index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groups/stylesheets/group_list.css' %}"/>
{% endblock %}


{% block sidebar-menu %}
    {{ block.super }}
{% endblock %}

{% block page-content-body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ task.name }}</h1>
            </div>
            <div class="col">
                <div class="row buttons-new float-right">
                    <div class="button-new-project">
                        <a href="{% url 'groups:new_project_task' task.id %}" class="badge badge-success">New
                            Project</a>
                    </div>
                    <div class="button-new-group">
                        <a href="{% url 'groups:new_subgroup_task' task.id %}" class="badge badge-success">New
                            Subgroup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Future Subgroups</h2>
            </div>
        </div>
    </div>
    {% include 'core/unfinished_task_list.html' with unfinished_task_list=unfinished_add_subgroup_list %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Future Projects</h2>
            </div>
        </div>
    </div>
    {% include 'core/unfinished_task_list.html' with unfinished_task_list=unfinished_add_project_list %}
{% endblock %}

